In [27]:
import pandas as pd

df = pd.read_csv('data/JRE_1470_Elon_Musk.txt', sep="$", header=None, names=['col1'])


df = pd.DataFrame(df.col1.values.reshape(-1,2),columns=['timestamp','text'])
# df.c2 = df.c2.astype(int) # optional to convert col to int

df

          c1                                       c2
0      00:00                             welcome back
1      00:02    here we go again great to see you and
2      00:03    congratulations thank you um you will
3      00:06     never forget what is going on in the
4      00:08     world when you think about when your
...      ...                                      ...
3511  119:57  pleasure elon musk ladies and gentlemen
3512  119:59                               good night
3513  120:02     all right that should get a little i
3514  120:03                 should get a little play
3515  120:06                           that was great

[3516 rows x 2 columns]

In [28]:
from jinja2 import Environment, FileSystemLoader
env = Environment(loader=FileSystemLoader('.'))
template = env.get_template("generate_pdf.html")

In [29]:
template_vars = {"title" : "Joe Rogan Experience #1470 - Elon Musk",
                 "url" : "https://www.youtube.com/watch?v=RcYjXbSJBN8&t=4827s",
                 "output_pivot_table": df.to_html()}

In [30]:
html_out = template.render(template_vars)

In [31]:
from weasyprint import HTML
HTML(string=html_out).write_pdf("report.pdf")